<div id="form_wrapper" class="left">
<%= form_for @tweet do |f| -%>
  <%= f.hidden_field :user_id %>
  <%= f.label :content, "内容" %>
  <%= f.text_field :content, :size=>50 %>
  <%= f.hidden_field :ll, :size=>20, :value=>"" %><br />
  <%= f.label :ontwitter, "Twitter にもポストする" %>
  <%= f.check_box "ontwitter" %>
  <%= f.submit "投稿" %>
<% end -%>
</div> 
<%= javascript_tag %Q%
$(function(){
$("#new_tweet").submit(function(ev){
if ($("#tweet_ll").val() == "") {
geoLoc(function(pos){
$("#tweet_ll").val(pos.Ia+","+pos.Ja);
$("#new_tweet").submit();
});
ev.stopPropagation();
ev.preventDefault();
}
});});
% %>
