<div id="form_wrapper" class="left">
<%= form_for( @tweet, :remote => true ) do |f| -%>
  <%= f.hidden_field :user_id %>
  <%= f.label :content, "内容" %>
  <%= f.text_field :content, :size=>50 %>
  <%= f.hidden_field :ll, :size=>20, :value=>"" %><br />
  <%= f.label :ontwitter, "Twitter にもポストする" %>
  <%= f.check_box "ontwitter" %>
  <%= f.submit "投稿" %>
<% end -%>
</div> 
<div id="response">
  
</div>
