<% title "マイページ" %>
<div id="image_wrapper" class="left">
<%= image_tag(@user.image_url, :size=>"48x48", :alt=>"User Icon") %>
</div>
<%= render :partial=>"tweets/form" %>
<div id="map">
  <%= render :partial=>"map" %>
</div>
<div id="friends_status">
<h3>友達のぼっち飯</h3>
<% if @user.friends.count > 0 -%>
  <ul>
  <% @friend_tweets.each do |t| -%>
    <li class="tweet">
      <%= t.user.nickname %> : <%= t.content %>
      <span class="location">@ <%= t.location.address if t.location -%></span>
      <span class="time">(<%= t.time %>)</span></li>
  <% end -%>
  </ul>
<% else %>
  友達がいません。
<% end %>
</div>
<div id="friends">
  <h3>ぼっち飯 を使っている友人</h3>
  <ul>
  <% @user.friends.each do |f| -%>
    <li><%= image_tag(f.image_url, :alt=>"Friend Icon") %> <%= f.nickname %></li>
  <% end -%>
  <li>フォロワーにおすすめしましょう</li>
  </ul>
</div>
<div id="my_status">
<h3>最近のぼっち飯</h3>
<% if @tweets.count>0 -%>
  <ul>
  <% @tweets.each do |t| -%>
    <li class="tweet"><%= t.content -%>
      <span class="location">@ <%= t.location.address if t.location -%></span>
      <span class="time">(<%= t.time %>)</span></li>
  <% end -%>
  </ul>
<% else %>
  最近はぼっち飯してません。
<% end %>
</div>
