<% title "マイページ" %>
<%= javascript_include_tag "tweets" %>
<%= javascript_tag "myname = \"#{current_user.nickname}\"" %>
<div id="image_wrapper" class="left">
<%= image_tag( current_user.image_url, :size=>"48x48", :alt=>"User Icon" ) %>
</div>
<%= render :partial=>"tweets/form" %>
<div id="map" class="clear">
  <%= render :partial=>"map" %>
</div>
<%= button_to_function "更新", "update()" %>
<div id="message">
  
</div>
