<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=640" />
 <title>ぼっちの御伴 - <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
<div id="header">
<span id="user_nav">
  <%= link_to "HOME", root_path %> | 
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path %> |
    <%= link_to current_user.nickname, current_user %>
  <% else %>  
    <%= link_to(image_tag("sign-in-with-twitter-l.png", :title=>"Sign in with Twitter", :alt=>"Sign in with Twitter"), "/auth/twitter") %>
  <% end %>
</span>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="content">
<%= yield %>
</div>
</div>
</body>
</html>
