<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=640" />
  <link rel="shortcut icon" href="/images/bocchimeshi_small.gif">
 <title>ぼっちの御伴 - <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<% if ENV['RACK_ENV'] == "production" -%>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1353056-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end -%>
</head>
<body>
<div id="wrapper">
<div id="header">
<span id="user_nav">
  <%= link_to "アンケート", "https://spreadsheets.google.com/spreadsheet/viewform?hl=ja_JP&formkey=dHVCZ3I2c1g5V1Z1Qms1MERzd3M1YUE6MQ#gid=0" %> | 
  <%= link_to "HOME", root_path %> | 
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path %> |
    <%= link_to current_user.nickname, user_path %>
  <% else %>  
    <%= link_to(image_tag("sign-in-with-twitter-l.png", :title=>"Sign in with Twitter", :alt=>"Sign in with Twitter"), "/auth/twitter") %>
  <% end %>
</span>
</div>
<% if notice %><p class="notice"><%= notice %></p><% end %>
<% if alert  %><p class="alert"><%= alert %></p><% end %>

<div id="content">
<%= yield %>
</div>
</div>
</body>
</html>
